<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Samochody w bazie</h1>
    </div>
    <div class="container admin">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Samochody</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item role="listitem" *ngFor="let car of cars" (click)="carSelected(car.id)">
                                <h4 mat-line>{{ car.model }} ({{ car.year }})</h4>
                                <p mat-line>{{ user.description }}</p>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions class="text-center">
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button mat-flat-button color="primary" class="appointment-button" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/car"]'>
                    Dodaj nowy
                </button>
            </div>
        </div>
    </div>
    