<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2" *ngIf="edit">Edycja samochodu</h1>
    <h1 class="h2" *ngIf="!edit">Dodawanie samochodu</h1>
</div>
<div class="container admin">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="example-card">
                <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
                    <mat-card-content>
                        <mat-grid-list cols="1" rowHeight="14:1">
                            <mat-grid-tile>
                                <mat-form-field class="w-80">
                                    <input id="car-year"
                                            matInput 
                                            type="number"
                                            placeholder="Rok produkcji"
                                            formControlName="year"
                                            required>
                                    <mat-error *ngIf="form.hasError('required', 'year')">
                                        Rok produkcji jest <strong>wymagany</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.hasError('min', 'year')">
                                        Rok produkcji nie może być mniejszy niż 1885
                                    </mat-error>
                                    <mat-error *ngIf="form.hasError('max', 'year')">
                                        Rok produkcji nie może być większy niż obecny rok
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="w-80">
                                    <input id="car-model"
                                            matInput 
                                            placeholder="Marka i model"
                                            formControlName="model"
                                            required>
                                    <mat-error *ngIf="form.hasError('required', 'model')">
                                        Marka i model jest <strong>wymagane</strong>
                                    </mat-error>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="w-80">
                                    <input id="car-description"
                                            matInput 
                                            placeholder="Szczegóły"
                                            formControlName="description">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                    <mat-card-actions class="text-center">
                        <button type="submit" mat-raised-button (click)="backToList()">Powrót</button>
                        <button type="submit" mat-raised-button color="primary" [disabled]="!form.dirty">Zapisz</button>
                    </mat-card-actions>
                </form>
            </mat-card>
        </div>
    </div>
    <div class="row mt-20" *ngIf="edit">
        <div class="col-md-12">
            
        <mat-accordion class="w-80">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span>Remont silnika (28.01.2019, 14:30) - <strong>Gotowy do odbioru</strong></span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p>Wymiana uszczelki pod głowicą, uszczelki kolektora ssącego, uszczelki kolektora wydechowego, wymiana pierścieni tłokowych, planowanie głowicy</p>

                <p><strong>Koszt:</strong> 2850 zł</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Zaloguj się
                    </mat-panel-title>
                </mat-expansion-panel-header>

                coś tam
            </mat-expansion-panel>
        </mat-accordion>
        </div>
    </div>
</div>
    
