@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* --- LOADING SPINNER */
.spinner-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #33ccbf !important;
}

.spinner {
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    margin: 45vh auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
/* --- */

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.bg-dark {
    color: #ffffff;
}

.login-logo {
    text-align: center;
}

    .login-logo img {
        max-height: 130px;
        margin: 35px auto;
    }

body {
    background-image: url("./assets/images/workshop-background.jpg");
    background-color: #f7fffd !important;
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.w-20 {
    width: 20%;
}

.message-container {
    text-align: center;
}

span {
    font-family: Roboto, Arial, sans-serif;
}

.danger-text {
    color: #fb5682;
}

.warning-text {
    color: #ffec8c;
}

.success-text {
    color: #74ffa6;
}

.aligned-with-icon {
    position: relative;
    top: -6px;
    margin-left: 5px; /* optional */
}


/* --- Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0 !important;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 52px; /* Height of navbar */
    height: calc(100vh - 52px);
    padding-top: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
/* --- */


/* --- Navbar */
.navbar {
    margin-bottom: 0px !important;
    border-radius: 0 !important;
}

.sticky-top {
    position: sticky !important;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
/* --- */


/* --- Utilities */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
/* --- */


/* --- OVERRIDE ANGULAR MATERIAL */
.admin .mat-list-item:hover {
    background-color: #dadada;
    border-radius: 3px;
    cursor: pointer;
}

.admin .mat-list-item p {
    color: #848484;
}
/* --- */